%section#about.grid_10
  %h2 About Astral
  %p This is a description of the project.
  %h2 Technology
  %p The technology used in Astral.
  %h2 References
  %p Some references to our inspiration and CMU.

%ul#team
  %h2 Team Members
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    .grid_7
      %h3 Darshana Advani
      %p.grid_7
        This is short bio.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    .grid_7
      %h3 Anusha Varshney
      %p.grid_7
        This is short bio.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    .grid_7
      %h3 Christopher Peplin
      %p.grid_7
        This is short bio.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    .grid_7
      %h3 Fabian Popa
      %p.grid_7
        This is short bio.
