%ul#streams
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    %p.grid_7
      This is the details of the stream.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    %p.grid_7
      This is the details of the stream.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    %p.grid_7
      This is the details of the stream.
  %li.grid_10
    %img.grid_2{:src => "images/screenshot.png"}
    %p.grid_7
      This is the details of the stream.
