%ul#streams
  - @streams.each do |stream|
    %li.grid_10.stream
      %a{:href => "/stream/#{stream.id}"}
        %img.grid_2{:src => "/images/screenshot.png"}
      %h3= stream.title
      %p.grid_7= stream.description
