%section#download.grid_10
  %h2 Getting Astral
  %p Directions for installing and using Astral.
  %h3 Linux
  %p Directions for Linux
  %h3 Windows
  %p Directions for Windows
  %h3 Mac
  %p Directions for Mac
  %h2 Using Astral
  %p How to use it.
