.heading
  %h2= @stream.name
  %span= @stream.description
#streaming_content
  :plain 
    <object type="application/x-shockwave-flash" id="astral" name="astral" data="/swf/astral.swf" width="400" height="300" style="visibility: visible;"><param name="wmode" value="window"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="allowScriptAccess" value="always"><param name="bgcolor" value="#E8E8E8"><param name="flashvars" value=""></object>
  #streaming_notice
  #streaming_controls
    #slug= @stream.slug
    %a.hidden#publish_start{:href => "#"} Start Publishing
    %a.hidden#publish_pause{:href => "#"} Pause Publishing
    %a.hidden#publish_stop{:href => "#", :style => "margin-left:30px"} Stop Publishing and Delete Stream
  #streaming_flash_error &nbsp;
  #streaming_url &nbsp;
