#preview.grid_6.push_2
  %h3= @stream.name
  %video#player Preview Video
  %p= @stream.description
  %a Upload this Stream
= javascript_script_tag "/js/vendor/stream.js"
= javascript_script_tag "/js/vendor/jwplayer.js"
