.heading
  %h2= @stream.name
  %span= @stream.description
#streaming_content
  :plain 
    <object type="application/x-shockwave-flash" id="astral" name="astral" data="/swf/astral.swf" width="400" height="300" style="visibility: visible;"><param name="wmode" value="window"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="allowScriptAccess" value="always"><param name="bgcolor" value="#E8E8E8"><param name="flashvars" value=""></object>
  #streaming_notice
  #streaming_controls
    %div#slug= @stream.slug
    %a.hidden{:href => "#", :id => "preview_webcam"} Webcam
    %a.hidden{:href => "#", :id => "preview_file"} File
    %a.hidden{:href => "#", :id => "publish_start"} Publish
    %a.hidden{:href => "#", :id => "publish_stop"} Stop publishing
    %a.hidden{:href => "#", :id => "consume_stop"} Stop
  #streaming_flash_error
