#preview.grid_6.push_2
  %form{:method => "POST", :action => "/streams"}
    %p
      %label{:for => "stream_title"} Title
      %input{:id => "stream_title", :name => "title"}
    %p
      %label{:for => "stream_description"} Description
      %input{:id => "stream_description", :name => "description"}
    %p
      %input{:type => "submit"}
