%section#visualization.grid_10
- if settings.environment == :production
  = javascript_script_tag "http://cachedcommons.org/cache/raphael/1.4.7/javascripts/raphael-min.js"
- else
  = javascript_script_tag "/js/vendor/raphael.js"
= javascript_script_tag "/js/visualization.js"
