/* Base styles */

body {
    background-color: #536874;
    color: #000;
}

a img {
    border: 0;
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    margin: .1em 0 .2em 0;
    font-weight: bold;
    clear: both;
}

h1, h2, h3, h4, h5 {
    margin: .1em 0 .2em 0;
}

p, address {
    margin: 0 0 15px 0;
}

address span {
    display: block;
}

dl {
    margin: 10px 0;
}

dl dt {
    font-weight: bold;
}

dl.attributes dt {
    float: left;
    clear: left;
    width: 150px;
}

dl.attributes dd {
    margin: 0 0 0 160px;
}

ul {
    margin: 5px;
}

ul li {
    padding: 3px 0;
}

table {
    border-bottom:3px solid #B2B2B2;
    margin:0 0 2em;
}

caption {
    padding: 0.75em; font: 1.5em Georgia, Times, serif;
    border: 1px solid #B2B2B2; border-width: 1px 0 2px;
    background: #EEE;
}

th, td {
    padding: 0.5em .6em;
    border: 1px solid #CCC;
    border-width: 0 1px 1px 1px;
}

thead th {
    text-transform: uppercase; text-align: left;
    font-size: 65%;
}

tbody th {
    width: 20%;
}

tfoot {
    display: none;
}

tbody tr.even td {
    background-color: #eee;
}

tbody tr.odd  td {
    background-color: #fff;
}

/* Site sections */

#content {
    background-color: #659AB6;
}

#header {
    height: 60px;
}

p.nav {
    text-align: center;
    padding: 60px 0 0;
}

.nav a {
    color: #fff;
    font-family: Astral;
}

h1#logo {
    font-size: 62px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-family: Astral;
}

#left_column {
    padding: 0 10px;
}

#right_column {
    border: 3px solid #EEE;
    display: inline;
    padding: 0 10px;
}

#footer {
    background-color: #533674;
    border-color: #666;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 1em 0;
}

