/* Base styles */

body {
    background-color: #FFF;
    color: #000;
    font: 13px/1.6em Arial, sans-serif;
}

a img {
    border: 0;
}

a:link, a:visited, a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

em {
    font-style: italic;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    margin: .2em 0 .3em 0;
    font-weight: normal;
    clear: both;
}

p, address {
    margin: 0 0 15px 0;
}

address span {
    display: block;
}

dl {
    margin: 10px 0;
}

dl dt {
    font-weight: bold;
}

dl.attributes dt {
    float: left;
    clear: left;
    width: 150px;
}

dl.attributes dd {
    margin: 0 0 0 160px;
}

ul {
    margin: 5px;
}

ul li {
    padding: 3px 0;
}

table {
    border-bottom:3px solid #B2B2B2;
    margin:0 0 2em;
}

caption {
    padding: 0.75em; font: 1.5em Georgia, Times, serif;
    border: 1px solid #B2B2B2; border-width: 1px 0 2px;
    background: #EEE;
}

th, td {
    padding: 0.5em .6em;
    border: 1px solid #CCC;
    border-width: 0 1px 1px 1px;
}

thead th {
    text-transform: uppercase; text-align: left;
    font-size: 65%;
}

tbody th {
    width: 20%;
}

tfoot {
    display: none;
}

tbody tr.even td {
    background-color: #eee;
}

tbody tr.odd  td {
    background-color: #fff;
}

/* Site sections */

#content {
    padding-bottom: 40px;
}

p.nav {
    text-align: center;
    padding: 60px 0 0;
}

.nav a {
    font-family: Astral;
}

h1#logo {
    font-size: 62px;
    line-height: 1.6em;
    font-weight: normal;
    text-align: center;
    font-family: Astral;
}

#streams {
    margin-left: -3px;
    list-style: none;
}

#streams li.stream h3 {
    margin-bottom: 0;
}

#streams li.stream p {
    color: #999;
    margin: 0;
}

#slug {
    display: none;
}

#preview_webcam {
    margin: 0 10px 0 -5px;
}

#upload form#new_stream {
    padding-top: 5px;
}

#upload form#new_stream label {
    display: block;
    font-weight: bold;
    font-size: 12px;    
}

#upload form#new_stream input[type="text"] {
    font-size: 15px;
    height: 26px;
    line-height: normal;
    padding: 0px 10px 4px 6px;    
    width: 450px;
    text-align: center;
}

#upload form#new_stream input[type="submit"] {
    margin-top: 10px;
}

#streaming_content div#streaming_flash_error {
    color: red;
}

#streaming_content div#streaming_controls {
    margin-top: 10px;
}

#team {
    list-style: none;
    padding-bottom: 50px;
}

#team img {
    padding-bottom: 20px;
}

div.heading, #streaming_content, #upload {
      margin-left: -5px;
      text-align: center;
}

#streaming_content, #upload {
    margin-top: 15px;
}

div.heading span {
    color: #999;
}

#astral {
    border-width: 20px 50px;
    border-style: solid;
    border-color: #e8e8e8;
}

#footer {
    background-color: #533674;
    border-color: #666;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 1em 0;
}

.hidden {
    display: none;
}
