@font-face {
    font-family: Astral;
    src: url('fonts/astral_projection.ttf') format("truetype");
    src: url('fonts/odisea-astral.ttf') format("truetype");
    src: url('fonts/star-lit-night.ttf') format("truetype");
    src: url('fonts/space_and_astronomy.ttf') format("truetype");
}
